.sources {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 120px;
  align-items: center;
  font: 300 1em 'Fira Sans', sans-serif;
  justify-content: space-around;
}

.source__item {
  background: none;
  border: 2px solid #30c5ff;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: #70d6ff;
  transition: 0.25s;
  cursor: pointer;
}

.source__item:hover,
.source__item:focus,
.sources__arrow:hover,
.sources__arrow:focus {
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  transform: translateY(-0.25em);
}

.sources__arrow.disabled {
  border-color: #777;
  color: #777;
  box-shadow: 0 0 0 0;
  transform: none;
  cursor: not-allowed;
}

.sources__arrow:hover span,
.sources__arrow:focus span {
  background: url('../../../assets/icons/triangle-icon-active.svg');
}

.sources__arrow.disabled span {
  background: url('../../../assets/icons/triangle-icon-disabled.svg');
}

.source__item-name {
  font-weight: 400;
  white-space: nowrap;
}

.sources-container {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sources-buttons-container {
  width: 1120px;
  overflow: hidden;
}

.sources__arrow span {
  background: url('../../../assets/icons/triangle-icon.svg');
  display: inline-block;
  width: 16px;
  height: 16px;
  align-self: center;
}

.left-arrow span {
  transform: rotate(180deg);
}

.sources__arrow {
  height: 48px;
  width: 25px;
  border: 2px solid #30c5ff;
  align-self: center;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
